{% extends "base.html" %}
{% block content %}
        <div class="add-form">
            <form action="#" method="POST" enctype="multipart/form-data">
                <label for="stock">Stock</label><br>
                <input type="text" name="Stock"><br>
                <label for="lname">Buy at</label><br>
                <input type="text" name="buyAt"><br>
                <label for="lname">Sell at</label><br>
                <input type="text" name="sellAt"><br>
                <input class="add-button" type="submit" value="Submit">
            </form>

        </div>
{% endblock %}